Repository acm-ucr/winc-website, pull requests merged in 2023-11, with the labels that each got.

#62 text for intro component
  src/app/home/page.js
  src/components/home/Introduction.js
Labels: Home

#54 finished stat component
  package-lock.json
  src/app/home/page.js
  src/app/page.js
  src/components/home/Stat.js
  src/components/home/Stats.js
Labels: Do Not Merge

#61 Mailyn/empower comp
  src/app/home/page.js
  src/components/home/Empower.js
  src/components/home/Introduction.js
Labels: Home, Do Not Merge

#69 Shreya/board
  src/data/Socials.js
Labels: data

#63 Footer Component
  src/app/layout.js
  src/components/Footer.js
  src/data/Socials.js
Labels: Ready to Review, Footer

#74 Update Main
  package-lock.json
  package.json
  src/app/about/page.js
  src/app/board/page.js
  src/app/events/page.js
  src/app/home/page.js
  src/app/layout.js
  src/app/page.js
  src/components/Button.js
  src/components/Footer.js
  src/components/Navigation.js
  src/components/Title.js
  src/components/about/Frame.js
  src/components/about/Service.js
  src/components/about/Services.js
  src/components/about/We.js
  src/components/about/What.js
  src/components/board/Gallery.js
  src/components/board/Officer.js
  src/components/events/Event.js
  src/components/home/Empower.js
  src/components/home/Introduction.js
  src/components/home/Service.js
  src/components/home/Stat.js
  src/components/home/Stats.js
  src/data/Board.js
  src/data/Socials.js
  src/public/assets/about1.webp
  src/public/assets/about2.webp
  src/public/assets/favicon.ico
  src/public/assets/logo.webp
  src/public/assets/tempBoard.webp
  src/public/assets/whiteLogo.webp
  src/styles/globals.css
  tailwind.config.js
Labels: Repository

#68 created event card
  src/app/events/page.js
  src/components/events/Event.js
  src/components/events/Upcoming.js
Labels: Events, Do Not Merge

#64 Jayanth/join nav button
  src/components/Button.js
  src/components/Navigation.js
  src/components/home/Button.js
Labels: help wanted, Ready to Review, Navigation

#90 re-added home page images
  src/public/assets/about2.webp
  src/public/assets/homeWinc.svg
  src/public/assets/homeWinc2.svg
Labels: Home

#41 Add Service
  src/app/home/page.js
  src/components/about/Services.js
  src/components/home/Service.js
  src/components/home/Services.js
Labels: Home, Ready to Review, Do Not Merge

#84 Created Circle Component
  src/app/home/page.js
  src/app/page.js
  src/components/home/Circle.js
  src/components/home/Empower.js
  src/components/home/Introduction.js
Labels: Home, Ready to Review

#85 Mailyn/services responsiveness
  src/components/about/Service.js
  src/components/about/Services.js
Labels: About, Do Not Merge
