Repository acm-ucr/winc-website, pull requests merged in 2023-12, with the labels that each got.

#102 New services card
  src/components/home/Service.js
  src/components/home/Services.js
Labels: enhancement, Home

#105 initial calendar set up
  next.config.js
  package-lock.json
  package.json
  src/app/events/page.js
  src/components/events/CalendarEvents.js
  src/components/events/CustomEvent.js
  src/components/events/CustomToolbar.js
  src/components/events/Event.js
  src/components/events/EventContext.js
  src/components/events/Upcoming.js
Labels: Events

#116 New Officer Card
  src/components/board/Gallery.js
  src/components/board/Officer.js
Labels: bug, enhancement, Board, Ready to Review

#103 Mailyn/add links
  src/components/home/Service.js
  src/components/home/Services.js
Labels: Home

#117 About Service - Changed to div tag and changed font to light
  src/components/about/Service.js
Labels: About, Ready to Review

#119 Board data Updated
  src/data/Board.js
  src/public/assets/Board_Photos/Aliyah_O.webp
  src/public/assets/Board_Photos/Anisha_N.webp
  src/public/assets/Board_Photos/Bella_C.webp
  src/public/assets/Board_Photos/Chloe_Au.webp
  src/public/assets/Board_Photos/Cristina_S.webp
  src/public/assets/Board_Photos/Elaheh_S.webp
  src/public/assets/Board_Photos/Eva_C.webp
  src/public/assets/Board_Photos/Fatima_B.webp
  src/public/assets/Board_Photos/Jaydah_J.webp
  src/public/assets/Board_Photos/Padma_B.webp
  src/public/assets/Board_Photos/Pamodya_P.webp
  src/public/assets/Board_Photos/Ramya_M.webp
Labels: Board, Ready to Review, data

#122 Created custom header
  src/components/events/CalendarEvents.js
  src/components/events/CustomHeader.js
  src/components/events/index.css
Labels: Events

#125 Events Page
  .github/workflows/pull-request.yaml
  package-lock.json
  package.json
  src/app/events/page.js
  src/app/home/page.js
  src/app/page.js
  src/components/events/CalendarEvents.js
  src/components/events/CustomEvent.js
  src/components/events/Event.js
  src/components/events/EventContext.js
  src/components/events/Upcoming.js
  src/components/home/Circle.js
Labels: Home, Events

#120 event bugs
  src/app/events/page.js
Labels: bug, Events

#115 Kelly/modal
  package-lock.json
  src/components/events/CalendarEvents.js
  src/components/events/CustomEvent.js
  src/components/events/CustomToolbar.js
  src/components/events/Modal.js
Labels: Events, Do Not Merge

#133 Add Build Scripts
  build_dev.sh
  build_main.sh
Labels: Ready to Review

#132 Changed officer and gallery to divs
  package-lock.json
  src/components/board/Gallery.js
  src/components/board/Officer.js
Labels: bug, Board
