Repository acm-ucr/winc-website, pull requests merged in 2023-10, with the labels that each got.

#19 create a title component
  src/components/Title.js
Labels: Home, About, Board

#18 create a frame component
  src/components/about/Frame.js
  src/public/assets/about1.webp
  src/public/assets/about2.webp
Labels: About, Ready to Review

#21 Created officer component
  src/components/board/Officer.js
Labels: Board

#44 kelly/boxshadow
  src/components/about/Frame.js
Labels: enhancement, About, Ready to Merge

#45 Fix font in title component
  src/components/Title.js
Labels: Home, About, Board

#43 Added links to icons
  src/components/board/Officer.js
Labels: bug, Board, Ready to Review

#52 fix Title styling
  src/components/Title.js
Labels: Home, About, Board

#47 added we component
  src/app/about/page.js
  src/components/about/Frame.js
  src/components/about/We.js
Labels: About

#56 fixed about service component
  src/app/about/page.js
  src/app/board/page.js
  src/app/events/page.js
  src/app/home/page.js
  src/app/page.js
  src/components/Title.js
  src/components/about/Service.js
  src/components/about/Services.js
  src/components/about/We.js
Labels: About, Ready to Review

#50 Implemented gallery
  src/app/board/page.js
  src/components/board/Gallery.js
  src/data/Board.js
Labels: Board, Ready to Review

#55 what component
  src/app/about/page.js
  src/components/about/What.js
Labels: About, Do Not Merge

#59 gallery bugs
  src/components/board/Gallery.js
  src/components/board/Officer.js
Labels: bug, About
